In [1]:
import requests 
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
url = "https://www.iplt20.com/auction"

r = requests.get(url)

soup = BeautifulSoup(r.text, "lxml")

names = soup.find_all('div', class_ = 'agv-team-name')

team_name = []

for i in names:
    name = i.text
    team_name.append(name)

#print(team_name)

price = soup.find_all('span', class_ = 'fr-fund')

funds_remaining = []

for i in price:
    prices = i.text
    funds_remaining.append(prices)
print(funds_remaining)

['₹1,50,00,000', '8', '25', '₹4,45,00,000', '8', '25', '₹4,45,00,000', '8', '25', '₹1,65,00,000', '8', '22', '₹3,55,00,000', '8', '25', '₹5,00,000', '8', '24', '₹12,20,00,000', '7', '22', '₹3,35,00,000', '8', '25', '₹1,75,00,000', '8', '25', '₹6,55,00,000', '8', '25']

In [3]:
funds = []
for i in range(0, len(funds_remaining), 3):
    funds.append(funds_remaining[i])
print(funds)

['₹1,50,00,000', '₹4,45,00,000', '₹4,45,00,000', '₹1,65,00,000', '₹3,55,00,000', '₹5,00,000', '₹12,20,00,000', '₹3,35,00,000', '₹1,75,00,000', '₹6,55,00,000']

In [4]:
overseas_players =[]
for i in range(1, len(funds_remaining), 3):
    overseas_players.append(funds_remaining[i])
print(overseas_players)

['8', '8', '8', '8', '8', '8', '7', '8', '8', '8']

In [5]:
total_players = [] 
for i in range(2, len(funds_remaining), 3):
    total_players.append(funds_remaining[i])
print(total_players)

['25', '25', '25', '22', '25', '24', '22', '25', '25', '25']

In [6]:
df = pd.DataFrame({'team_names':team_name, 'fund_remaining':funds, 'oversea_players':overseas_players, 'total_players':total_players})
df

                    team_names fund_remaining oversea_players total_players
0          Chennai Super Kings   ₹1,50,00,000               8            25
1               Delhi Capitals   ₹4,45,00,000               8            25
2               Gujarat Titans   ₹4,45,00,000               8            25
3        Kolkata Knight Riders   ₹1,65,00,000               8            22
4         Lucknow Super Giants   ₹3,55,00,000               8            25
5               Mumbai Indians      ₹5,00,000               8            24
6                 Punjab Kings  ₹12,20,00,000               7            22
7             Rajasthan Royals   ₹3,35,00,000               8            25
8  Royal Challengers Bangalore   ₹1,75,00,000               8            25
9          Sunrisers Hyderabad   ₹6,55,00,000               8            25